@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model GamesList.web.Models.Genre[]
@{
	ViewBag.Title = "List Of Genres";
}

<h2 class="mb-4">List Of Genres</h2>

<a asp-action="Create" class="btn btn-success mb-3">Add Genre</a>


@foreach (var genre in Model)
{

	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">@genre.Name</h5>
			<p class="card-text">@genre.Description</p>

			<div class="d-flex justify-content-between align-items-center">
			<div>
				<a asp-action="Edit" asp-route-id="@genre.Id" class="btn btn-sm btn-warning me-2">Edit</a>
				<a asp-action="Details" asp-route-id="@genre.Id" class="btn btn-sm btn-info me-2">Details</a>
			</div>
			<form asp-action="Delete" asp-route-id="@genre.Id" method="post" class="mb-0" onsubmit="return confirm('Are you sure you want to delete the genre: @genre.Name?');">
				<button type="submit" class="btn btn-sm btn-danger">Remove</button>
			</form>
			</div>
		</div>
	</div>
}


